<% provide(:title, 'About Us') %>

<h1>About Us</h1>
	<p>This Projects_frg is the web application for people in my group tp access all the required information about my Project I am doing In IIT. The web application will be accessable only from inside IIT i.e. it will workk only on intranet. The coed will be uploaded on github for people to download and use as their own web servers. My projects in IIT will not be uploaded on github. </p>
	<p> The github link is <a href = "https://github.com/qwertyuiopasdfghjklzxcvb/projects_frg">here</a> </p>




