<footer class="footer">
  <small>
    <%= link_to "Sandeep's Webpage", '#' %>
    by Sandeep Prasad
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "news", 'http://www.it.iitb.ac.in/frg/wiki/index.php/Special:RecentChanges' %></li>
    </ul>
  </nav>
</footer>

